@media only screen and (max-width: 40em) {
  .title-area {
  }
  .name {

  }

  .name img {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    width: auto;

  }

  .top-bar-section ul li > a{
    color:#FFFFFF ;
    background: #858585 ;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #e7e7e7;
    color: #000000;
  }

}

.name img {

  margin-left:20px;
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: auto;


}

.name a {
  background: transparent;
}

.top-bar .name .site-title{
  display: inline-block;
  color: #2E2F30;
  height: 45px;
  padding: 0;
  margin-right: 20px;
  line-height: 45px;
  font-size: 1.0625rem;
  background: transparent;
}

.top-bar-section .dropdown li.title h5 a{
  color: darkgray;
}

.top-bar .toggle-topbar.menu-icon a{
  background: transparent;
  color: #000000;
  border-color: #2E2F30;
}

.top-bar-section li:not(.has-form) a{
  background: #e7e7e7;
}

@media only screen and (min-width: 40.063em){
  .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
    color: #000000;
    background: #e7e7e7;
  }
}