@media only screen and (max-width: 40em) {
  .title-area {
  }
  .name {

  }

  .name img {
    display: inline-block;
    vertical-align: top;
    height: 45px;
    width: auto;
  }
}

.name img {

  margin-left:20px;
  display: inline-block;
  vertical-align: top;
  height: 45px;
  width: auto;

}

.top-bar .name .site-title{
  display: inline-block;
  color: #000000;
  height: 45px;
  padding: 0;
  margin: 0;
  line-height: 45px;
  font-size: 1.0625rem
}

.h1 .font-family-h1{
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-weight: 300;
}