<%= stylesheet_link_tag("topbar/topbar") %>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <!--<li class="name">-->
      <!--<a href="#"><%= image_tag('logo.png')%></a>-->
    <!--</li>-->

    <li class="name ">

      <a href="http://winestory.sg/">

        <span class=""><%= image_tag('logo.png')%></span>


        <h1 class="site-title font-family-h1 ">
          winestory.sg
          <small class="site-slogan "></small>
        </h1>

      </a>



    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">


      <li class="has-dropdown">
        <a href="#">Wine Shop</a>
        <ul class="dropdown">
          <li><a href="#">Red</a></li>
          <li><a href="#">White</a></li>
        </ul>
      </li>

      <li><a href="#">About Us</a></li>

    </ul>

  </section>
</nav>

